<ion-nav-bar class="bar-energized">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>
</ion-nav-bar>
<ion-view>
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content scroll="true" >
    <div class="row">
      <div class="col padding home-points">
        <p>PONTUAÇÃO - <span class="energized">Não Cadastrado</span></p>
        <p>COLOCAÇÃO NA FILA - <span class="energized">Não Cadastrado</span></p>
        <p>STATUS - <span class="energized">Não Cadastrado</span></p>
      </div>
    </div>
    <div class="row">
        <div class="col col-50">
          <button class="button btn-nav-codhab energized" ui-sref="app.messages">
            <span class="btn-codhab-icon ion-ios-email-outline "></span>
            <span>Mensagem</span>
          </button>
        </div>
        <div class="col col-50">
          <button class="button btn-nav-codhab energized" ui-sref="#">
            <span class="btn-codhab-icon ion-ios-calendar-outline"></span>
            <span>Agendamento</span>
          </button>
        </div>
    </div>
    <div class="row">
      <div class="col col-50">
        <button class="button btn-nav-codhab energized" ui-sref="app.report">
          <span class="btn-codhab-icon ion-map"></span>
          <span>Reporte de Obras</span>
        </button>
      </div>
      <div class="col col-50">
        <button class="button btn-nav-codhab energized" ui-sref="app.map">
          <span class="btn-codhab-icon ion-android-pin"></span>
          <span>Postos de Assistência</span>
        </button>
      </div>
    </div>
   </ion-content>

</ion-view>
