<ion-view>
<ion-nav-buttons class="bar bar-header">
	<div class="h1 title">Mensagens</div>
	<button class="button button-icon ion-ios-paperplane" ui-sref="app.new_message"></button>
</ion-nav-buttons>
	<ion-content >

		<ion-refresher
				pulling-text="Pull to refresh..."
				on-refresh="refreshItems()" >
		</ion-refresher >

		<ion-list class="list card item-card" ng-repeat="message in messages.results">

			<ion-item class="item-avatar item-icon-right" ui-sref="#">
        <img src="img/ionic.png" alt="" />
				<h2 >{{message.attributes.title}}</h2 >
					<p>
						protocolo : {{message.id}}
					</p>
					<i class="badge badge-balanced">{{message.attributes.status}}</i>
			</ion-item>
		</ion-list>


		<ion-infinite-scroll
				ng-if="messages.hasMore"
				on-infinite="nextPage()"
				immediate-check="false" >
		</ion-infinite-scroll >

		<div class="padding text-center"
		     ng-if="!messages.hasMore" >
			<p >Sem mais resultados novos</p >
		</div >
	</ion-content >
</ion-view >

<!-- <ion-view>
  <ion-nav-buttons class="bar bar-header">
    <div class="h1 title">Mensagens</div>
		<button class="button button-icon ion-ios-paperplane" ui-sref="app.new_message"></button>
  </ion-nav-buttons>
    <ion-content>
      <ion-list>
        <ion-item class="item-avatar item-icon-right">
          <img src="img/ionic.png" alt="" />
          <h2>teste</h2>
          <p> teste </p>
          <i class="badge badge-assertive">Análise</i>
        </ion-item>
        <ion-item class="item-avatar item-icon-right">
          <img src="img/ionic.png" alt="" />
          <h2>teste</h2>
          <p> teste </p>
          <i class="badge badge-balanced">Recebida</i>
        </ion-item>
        <ion-item class="item-avatar item-icon-right">
          <img src="img/ionic.png" alt="" />
          <h2>teste</h2>
          <p> teste </p>
          <i class="badge badge-positive">Respondida</i>
        </ion-item>
        <ion-item class="item-avatar item-icon-right">
          <img src="img/ionic.png" alt="" />
          <h2>teste</h2>
          <p> teste </p>
          <i class="badge badge-positive">Respondida</i>
        </ion-item>
        <ion-item class="item-avatar item-icon-right">
          <img src="img/ionic.png" alt="" />
          <h2>teste</h2>
          <p> teste </p>
          <i class="badge badge-positive">Respondida</i>
        </ion-item>

      </ion-list>
    </ion-content>
</ion-view> -->
