<ion-view>
	<ion-nav-buttons class="bar bar-header">
		<div class="h1 title">Nova Mensagem</div>
	</ion-nav-buttons>
	<ion-content >
		<form name="createForm"
		      novalidate="novalidate"
		      ng-submit="getMessage(createForm)"
		      class="create-form">
			<ion-list>
			<div class="padding">
					<label class="item item-input item-stacked-label" ng-class="{'has-error':createForm.title.$invalid}">
						<span class="input-label">Assunto</span>
						<input type="text"
						       name="title"
						       ng-model="formData.title"
						       ng-required="true">
					</label>
					<div class="form-errors" ng-messages="createForm.title.$error">
	        	<div ng-messages-include="views/errors/form-errors.html"></div>
	        </div>
				</div>
				<div class="padding">
						<label class="item item-input item-stacked-label" ng-class="{'has-error':createForm.message.$invalid}">
							<span class="input-label">Mensagem</span>
							<input type="text"
										 name="message"
										 ng-model="formData.message"
										 ng-required="true">
						</label>
						<div class="form-errors" ng-messages="createForm.message.$error">
							<div ng-messages-include="views/errors/form-errors.html"></div>
						</div>
					</div>
			<!-- <div class="padding" ng-show="formData.picture">
				<div class="picture">
					<img ng-src="data:image/jpeg;base64,{{formData.picture}}"
						alt="" />
				</div>
			</div> -->

			<div class="padding">
				<button class="button button-positive button-block" type="submit"> Enviar Mensagem </button>
			</div>
		</form>
	</ion-content>
</ion-view>
