<div class='form-error' ng-message="required">Este campo é obrigatório</div>
<div class='form-error' ng-message="name">Este campo é obrigatório</div>
<div class='form-error' ng-message="email">Insira um email válido</div>
<div class="form-error" ng-message="minlength" >Senha muito curta</div>
<div class="form-error" ng-message="maxlength" >Preencha apenas com números</div>
<div class="form-error" ng-message="message" >Preencha com uma mensagem válida.</div>
<div class='form-error' ng-message="title">Insira uma senha com no mínimo 6 caracteres</div>
